@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


@keyframes float1 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(40px, 60px); }
  100% { transform: translate(0, 0); }
}

@keyframes float2 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-50px, -40px); }
  100% { transform: translate(0, 0); }
}

@keyframes float3 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(30px, -50px); }
  100% { transform: translate(0, 0); }
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #294c60;
  border-radius: 50%;
  opacity: 0.8;
  animation: float linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-180px);
  }
  100% {
    transform: translateY(0px);
  }
}




